header
{
    width: 90%;
    background-color: var(--background-color-main);

    margin: auto;
    margin-top: 50px;
    border-radius: 5px;
}

header nav
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

    padding: 15px;
}

header nav a 
{
    width: 100px;
    color: var(--background-color-main);
    background-color: var(--background-color-a-link);

    padding: 10px;
    border-radius: 10px;
}

header nav a:hover
{
    color: var(--black);
    background-color: var(--white);
}

header nav div:last-of-type
{
    display: flex;
    gap: 20px;
}