
/* Flex */

.flex
{
    display: flex;
}

.flex-center
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-center-gap
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.flex-between
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex-around
{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Generic */

.section-default
{
    padding: 25px;
}

.section-default p:last-of-type
{
    padding: 0;
}

.array-show
{
    border: 2px solid #000;

    padding: 20px 0;
    margin: 20px 0;
}

.array-show-within
{
    padding-bottom: 20px;
}

.array-show-within:last-of-type
{
    padding-bottom: 0;
}

.bold
{
    font-weight: bold;
}

.none
{
    display: none;
}

/* Margin, Padding */

.margin-none
{
    margin: 0;
}

.padding-none
{
    padding: 0;
}
