:root
{
    /* Font */
    --font-family: 'Montserrat', 'Open Sans', sans-serif;

    /* Default */
    --background-color-body: #cbf6db;  

    /* Section */
    --background-color-main: #aed6dc;

    /* Header */
    --background-color-a-link: #4a536b;

    /* Base Color */
    --white: #ffffff;
    --black: #000000;
    --blue: #0000FF;
    --red: #FF0000;
}
